::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background-color: hsl(var(--background));
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 6px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background: #888686;
}
